// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit_answer { display: none; }
.new_answer { display: none; }
.comment-section {
  border-radius: 4px;
  border-left: 1px solid #E6E6E6;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  position: relative;
  margin-right: 12px;
}
.comment-question {
  border-radius: 4px;
  border-left: 1px solid #fff;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  position: relative;
  margin-right: 12px;
}

.container-answer{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  background-color: #E1E9E1;
}